<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
       id="org.eclipse.jst.server.smartio.runtime.10"
       name="%runtimeType10Label"
       description="%runtimeType10Description"
       vendor="%vendor"
       version="1.0"
       class="org.eclipse.jst.server.smartio.core.ServerRuntime">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0, 3.1, 4.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
     <runtimeClasspathProvider
        id="org.eclipse.jst.server.smartio.runtimeTarget"
        runtimeTypeIds="org.eclipse.jst.server.smartio.runtime.*"
        class="org.eclipse.jst.server.smartio.core.runtime.ClasspathProvider"/>
   </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
       id="org.eclipse.jst.server.smartio.10"
       name="%server10Type"
       description="%server10Description"
       supportsRemoteHosts="false"
       runtime="true"
       startTimeout="45000"
       stopTimeout="15000"
       initialState="stopped"
       hasConfiguration="true"
       launchConfigId="org.eclipse.jst.server.smartio.core.launchConfigurationType"
       runtimeTypeId="org.eclipse.jst.server.smartio.runtime.10"
       class="org.eclipse.jst.server.smartio.core.ServerWrapper"
       behaviourClass="org.eclipse.jst.server.smartio.core.ServerBehaviour">
     </serverType>
  </extension>

  <extension point="org.eclipse.wst.server.core.launchableAdapters">
     <launchableAdapter
        class="org.eclipse.jst.server.smartio.core.ServerLaunchableAdapter"
        id="org.eclipse.jst.server.smartio.web"/>
  </extension>

  <extension point="org.eclipse.debug.core.sourcePathComputers">
     <sourcePathComputer
        id="org.eclipse.jst.server.smartio.core.sourcePathComputer"
        class="org.eclipse.jst.server.smartio.core.runtime.SourcePathComputer"/>
  </extension>

  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
        id="org.eclipse.jst.server.smartio.core.launchConfigurationType"
        name="%launchConfigurationType"
        delegate="org.eclipse.jst.server.smartio.core.ServerLaunchConfiguration"
        modes="run, debug, profile"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jst.server.smartio.core.sourcePathComputer"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.publishTasks">
     <publishTask
        id="org.eclipse.jst.server.smartio.core.publishTask"
        typeIds="org.eclipse.jst.server.smartio.*"
        class="org.eclipse.jst.server.smartio.core.PublishTask"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-version
       type="org.eclipse.jst.server.smartio"
       version="1.0"/>

    <adapter>
      <runtime-component
         id="org.eclipse.jst.server.smartio"/>
      <factory class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
    </adapter>

    <supported>
      <runtime-component
         id="org.eclipse.jst.server.smartio"
         version="1.0"/>
      <facet
         id="jst.web"
         version="2.2,2.3,2.4,2.5,3.0,3.1,4.0"/>
      <facet
         id="jst.webfragment"
         version="3.0,3.1,4.0"/>
      <facet
         id="jst.utility"
         version="1.0"/>
    </supported>
  </extension>
  
  <extension point="org.eclipse.wst.common.project.facet.core.defaultFacets">
    <default-facets>
      <runtime-component id="org.eclipse.jst.server.smartio"/>
      <facet id="wst.jsdt.web" version="1.0"/>
    </default-facets>
  </extension>
  
  <extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
    <runtimeFacetMapping
      runtimeTypeId="org.eclipse.jst.server.smartio.runtime.10"
      runtime-component="org.eclipse.jst.server.smartio"
      version="1.0"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.installableRuntimes">
    <runtime
        id="org.eclipse.jst.server.smartio.runtime.10"
        licenseUrl="https://www.gnu.org/licenses/agpl-3.0.txt"
        archiveUrl="https://downloads.tol.info/io/smartIO-Server-Win64-19.07.6.tar.zip"
        fileCount="645"
        os="win32"/>
    <runtime
        id="org.eclipse.jst.server.smartio.runtime.10"
        licenseUrl="https://www.gnu.org/licenses/agpl-3.0.txt"
        archiveUrl="https://downloads.tol.info/io/smartIO-Server-Linux-19.07.6.tar.gz"
        archivePath="smartio-server-19.09"
        os="linux"/>
  </extension>
</plugin>
